<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:45</td>  <td>Zoom room opens</td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to the workshop, instructors, helpers, and code of conduct.</td> </tr>
      <tr> <td>09:15</td>  <td> <a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing the Shell</a></td> </tr>
      <tr> <td>09:30</td>  <td> <a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigating Files and Directories</a></td> </tr>
      <tr> <td>10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td> <a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files and Directories</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> <a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters</a></td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters (Continued)</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html">Loops</a></td> </tr>
      <tr> <td>10:45</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts (Continued)</a></td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/07-find/index.html">Finding Things</a></td> </tr>
      <tr> <td>10:00</td>  <td>Wrapping up on Shell</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/">Introduction to R Programming Language and RStudio</a></td> </tr>
      <tr> <td>10:45</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html">Read Data and Data Frames</a></td> </tr>
      <tr> <td>11:45</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html">Calculate Simple Statistics and Plot Data</a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/02-func-R/index.html">Creating Functions</a></td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
